body {background-color: #000; color: #ffffff;}
.navbar {background-color: #1C1C1C; border-bottom: solid orange;}
.nav-link {color: #FFFAFA; font-weight: bold;}
.btn-outline-secondary {background-color: #FF8C00; font-weight: bold; color: #000; margin-top: 20px;}
#btnList {margin-top: 0 ;}
h1 {color: #FF8C00; font-weight: bold; margin-top: 20px}
.form-group {margin-top: 20px;}
h5 {color: red;}
#rowEmployee {margin-top: 20px; margin-left: 32.8%}